cffi==1.7.0
click==6.6
Flask==0.11.1
idna==2.1
itsdangerous==0.24
Jinja2==2.8
jira==1.0.3
MarkupSafe==0.23
oauthlib==0.7.2
prometheus-client==0.0.13
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
requests==2.10.0
requests-oauthlib==0.6.1
requests-toolbelt==0.6.2
six==1.10.0
tlslite==0.4.9
uWSGI==2.0.13.1
Werkzeug==0.11.10
